@-webkit-keyframes rotate-90-cw-1 {
	0% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		width: 45px;
		height: 45px;
		top: 0px;
		left: 0px;
	}
	25% {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
		width: 30px;
		height: 30px;
		top: 0px;
		left: 120px;
	}
	50% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
		width: 45px;
		height: 45px;
		top: 120px;
		left: 120px;
	}
	75% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		width: 30px;
		height: 30px;
		top: 120px;
		left: 0px;
	}
	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		width: 45px;
		height: 45px;
		top: 0px;
		left: 0px;
	}
}

@keyframes rotate-90-cw-1 {
	0% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		width: 45px;
		height: 45px;
		top: 0px;
		left: 0px;
	}
	25% {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
		width: 30px;
		height: 30px;
		top: 0px;
		left: 120px;
	}
	50% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
		width: 45px;
		height: 45px;
		top: 120px;
		left: 120px;
	}
	75% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		width: 30px;
		height: 30px;
		top: 120px;
		left: 0px;
	}
	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		width: 45px;
		height: 45px;
		top: 0px;
		left: 0px;
	}
}

@-webkit-keyframes rotate-90-cw-2 {
	0% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		width: 45px;
		height: 45px;
		top: 120px;
		left: 120px;
	}
	25% {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
		width: 30px;
		height: 30px;
		top: 120px;
		left: 0px;
	}
	50% {
		-webkit-transform: rotate(-270deg);
		transform: rotate(-270deg);
		width: 45px;
		height: 45px;
		top: 0px;
		left: 0px;
	}
	75% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		width: 30px;
		height: 30px;
		top: 0px;
		left: 120px;
	}
	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		width: 45px;
		height: 45px;
		top: 120px;
		left: 120px;
	}
}

@keyframes rotate-90-cw-2 {
	0% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		width: 45px;
		height: 45px;
		top: 120px;
		left: 120px;
	}
	25% {
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
		width: 30px;
		height: 30px;
		top: 120px;
		left: 0px;
	}
	50% {
		-webkit-transform: rotate(-270deg);
		transform: rotate(-270deg);
		width: 45px;
		height: 45px;
		top: 0px;
		left: 0px;
	}
	75% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		width: 30px;
		height: 30px;
		top: 0px;
		left: 120px;
	}
	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		width: 45px;
		height: 45px;
		top: 120px;
		left: 120px;
	}
}

.spinnerContainer {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.spinnerContainer .spinner {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	position: relative;
}

.spinnerContainer .spinner div[class*='box'] {
	border-radius: 4px;
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: #677bc3;
}

.spinnerContainer .spinner .box1 {
	-webkit-animation: rotate-90-cw-1 1.8s ease-in-out infinite forwards;
	animation: rotate-90-cw-1 1.8s ease-in-out infinite forwards;
}

.spinnerContainer .spinner .box2 {
	-webkit-animation: rotate-90-cw-2 1.8s ease-in-out infinite forwards;
	animation: rotate-90-cw-2 1.8s ease-in-out infinite forwards;
}
